/*--------------------------------------------------------------
# Load more button
--------------------------------------------------------------*/
.load-more-button .features-read-more {
	background-color: #efefef;
	text-align: center;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

@media (max-width: 768px) {
	.video-features .features-read-more {
			margin-top: 2.4rem;
	}
}