/*--------------------------------------------------------------
# Iconbox
--------------------------------------------------------------*/
.iconbox-block {
    padding-top: 10.5rem;
    padding-bottom: 9.8rem;
}

.icon-box-wrap,
.iconbox-block h1 {
    text-align: center;
}
.iconbox-block h1 {
	margin-bottom: 7.4rem;
}

.iconbox-block h1,
.iconbox-block h5 {
    text-transform: uppercase;
}

.iconbox-block p {
    font-size: 1.5rem;
    line-height: 3rem;
}

.iconbox-block h5,
.iconbox-block p {
    color: #898989;
}

.iconbox-block h5 {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.iconbox-block .icon {
    text-align: center;
    color: #cccfd3;
    font-size: 3.5rem;
}

.iconbox-block .clearfix {
    margin-bottom: 3.5rem;
}

