/*--------------------------------------------------------------
# landing photo
--------------------------------------------------------------*/
.landing-photo.technology::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.6);
}

.landing-photo.technology .background-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-repeat: no-repeat;
    background-size: cover;
}
.landing-photo.technology .technology-image {
	margin-bottom: 30px;
}

.landing-photo.technology .header-block {
	margin-bottom: 44px;
}