<section class="text-image-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="header-block">{{header}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{#if image}}
                    <div class="center-img">
                        <img src="{{image}}" alt="" class="alignleft">
                    </div>
                {{/if}}
                {{{text}}}
            </div>
        </div>
    </div>
</section>