/*--------------------------------------------------------------
# video features new
--------------------------------------------------------------*/
.video-features.number {
   padding-bottom: 0;
}
.video-features.number .video-element {
   	width: 70rem;
    height: 44.5rem;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: none;
    border: 3px solid #e7e7e7;
    border-top-width: 27px; 
    margin-bottom: -6px;
    position: relative;
}

.video-features.number .video-col .media-video-container::before {
	content: url(../images/video-points.png);
    position: absolute;
    display: block;
    width: 2.9rem;
    height: 0.7rem;
    top: -4px;
    left: 14px;
    z-index: 2;
}

.video-features.number .video-col .media-video-container {
	margin-bottom: 80px;
	width: 70rem;
	float: right;
	position: relative;
} 
.video-features.number .video-col.level-two .media-video-container {
	margin-left: 0px;
	margin-bottom: 80px;
	float: left;
}

.video-features.number .has-center-content {
    display: table;
    position: relative;
    height: 40rem;
    margin-left: 0;
}
.video-features.number .has-center-content::before {
	content: attr(data-number);
    position: absolute;
    color: #ebebeb;
    font-size: 56.3rem;
    top: -196px;
    display: block;
    z-index: -1;
    font-family: "RobotoBold", sans-serif;
    width: 100%;
    text-align: center;
}

.video-features.number .grid-content-copy h2 {
    font-size: 3.5rem;
    text-transform: none;
    font-weight: bold;
}


@media screen and (max-width : 1025px){
    .video-features.number .video-element,
    .video-features.number .video-col .media-video-container {
        width: 61rem;
        height: auto;
    }
}

@media (max-width: 767px) { 
    .video-features.number .video-col {
        margin-bottom: 44px;
        padding-left: 0;
        padding-right: 0;
    }

    .video-features.number .video-element {
        width: 100%;
    }

    .video-features .media-video-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.7rem;
        padding-right: 1.7rem;
    }

    .video-features.number .video-col .media-video-container::before {
        left: 30px;
    }

    .video-features.number .video-col .media-video-container,
    .video-features.number .video-element {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) { 
    .video-features .media-video-container {
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .video-features.number .video-col {
        margin-bottom: 8rem;
    }
    .video-features.number .grid-content-copy {
        width: 100%;
    }
    .video-features.number .video-element {
        width: 100%;
    }
    .video-features.number .video-col .media-video-container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .video-features.number .video-col {
        margin-bottom: 2.2rem;
    }
    .video-features.number .video-col:nth-child(2) {
        padding-left: 2rem;
    }
    .video-features.number .level-two.video-col:nth-child(2) {
        padding-right: 2rem;
        padding-left: 0;
    }
    .video-features.number .grid-content-copy {
        width: 100%;
    }
    .video-features.number .video-col .media-video-container {
        margin-bottom: 0;
        float: none;
        margin: auto;
    }
    .video-features.number .video-col.level-two .media-video-container {
        margin-bottom: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .video-features.number .has-center-content {
        height: 44rem;
    }
    .video-features.number .video-features-row {
        margin-bottom: 8rem;
    }
}