<div class="achievements-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<div class="achievements-wrap-text">
				<div class="downloads_achievement">{{downloads_achievement}} <span>Downloads</span></div>
				<div class="installs_achievement">{{installs_achievement}} <span>Active installs</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
					<!-- Email field (required) -->
					<input type="text" name="email" placeholder="{{email_pl}}"/>
					<!-- Subscriber button -->
					<input type="submit" class="inverse" value="{{subscribe_btn}}"/>
				</form>
			</div>
		</div>
	</div>
</div>