@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot');
    src: url('../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExstraBold';
    src: url('../../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../fonts/OpenSans-Light/OpenSans-Light-webfont.eot');
    src: url('../../fonts/OpenSans-Light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Light/OpenSans-Light-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Light/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../../fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.eot');
    src: url('../../fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Semibold/OpenSans-Semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoBold';
    src: url('../../fonts/RobotoBold/RobotoBold.eot');
    src: url('../../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RobotoBold/RobotoBold.woff') format('woff'),
         url('../../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
         url('../../fonts/RobotoBold/RobotoBold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "RobotoLight";
    src: url("../../fonts/RobotoLight/RobotoLight.eot");
    src: url("../../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoBlack";
    src: url("../../fonts/RobotoBlack/RobotoBlack.eot");
    src: url("../../fonts/RobotoBlack/RobotoBlack.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoBlack/RobotoBlack.woff") format("woff"),
    url("../../fonts/RobotoBlack/RobotoBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}