@font-face {
    font-family: 'OpenSans-ExstraBold';
    src: url('../../fonts/OpenSans-ExstraBold/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
