/*--------------------------------------------------------------
# Header block
--------------------------------------------------------------*/
.header-block-wrap {
	padding-top: 6.5rem;
}
.header-block-wrap p {
	text-align: center;
}
.header-block-wrap .btn-header-wrap {
	margin-top: 9rem;
	margin-bottom: 13.9rem;
}

.header-block-wrap .btn-header-wrap .btn {
	margin-right: 13rem;
}

.header-block-wrap .btn-header-wrap .btn:last-child {
	margin-right: 0;
}

.header-block-wrap h1 {
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 978px) {
	.header-block-wrap .btn-header-wrap .btn {
		padding-left: 3rem;
		padding-right: 3rem;
		margin-right: 2rem;
	}
}

