/*--------------------------------------------------------------
# Counter
--------------------------------------------------------------*/
.counter-block {
	padding: 5.03rem 0;
}
.counter-block .next-row:last-child {
	float: none;
}

.counter-item {
	margin: 6.97rem 0;
    text-align: center;
    line-height: 1.1;
}

.counter-icon,
.counter-title {
	color: #999;
}

.counter-icon {
	font-size: 5rem;
}

.counter-count span {
	font-size: 5rem;
	font-family: "OpenSans-Bold", sans-serif;
	color: #484848;
}

.counter-title {
	text-transform: uppercase;
	font-family: "OpenSans-Light", sans-serif;
	margin-bottom: .5rem;
}
