/*--------------------------------------------------------------
# Load more button
--------------------------------------------------------------*/
.load-more-button .features-read-more {
	text-align: center;
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.load-more-button .features-read-more.white_row {
	background-color: #fff;
}
.load-more-button .features-read-more.gray_row {
	background-color: #efefef;
}
@media (max-width: 768px) {
	.video-features .features-read-more {
			margin-top: 2.4rem;
	}
}