/*--------------------------------------------------------------
# Header big bg block 
--------------------------------------------------------------*/
.header-big-bg {
	overflow: hidden;
	position: relative;
    padding-top: 32.3rem;
    padding-bottom: 14.1rem;
}

.header-big-bg .background-block {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-repeat: no-repeat;
    background-size: cover;
}

.header-big-bg .background-block.parallax {
	width: 100vw;
	height: 100vh;
}

.header-big-bg .header-block {
	color: #fff;
}

.header-big-bg .btn-header-wrap {
    margin-top: 8.6rem;
}

@media (max-width: 531px) {
	.header-big-bg {
	    padding-top: 10.8rem;
	    padding-bottom: 0;
	}
}