/*--------------------------------------------------------------
# Call to action bg v2
--------------------------------------------------------------*/
.call-to-action-bg.ver-two.action-overlay:before {
	background-color: rgba(0,0,0,0.7);
}

.call-to-action-bg.ver-two .btn {
	border: 3px solid !important;
	margin-top: 35px;
}

@media (max-height: 767px) and (max-width: 768px) {
	.call-to-action-bg .header-desc {
		text-align: left;
		padding-left: 1.8rem;
	}
}